$color-black: #111111;
$color-red: #e7515a;
$color-dark-blue: #060818;
$color-grey: #888ea8;

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

/***** General *****/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #515365;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: $color-grey;
    background: $color-dark-blue;
    transition: all 1s ease-in-out;
    overflow-x: hidden;
    overflow-y: scroll;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-grey;
}

a:hover {
    color: $color-red;
}

.form-control,
.form-select {
    border-radius: 6px !important;
    background: #1b2e4b !important;
    border: 1px solid #1b2e4b !important;
    color: #fff !important;
}

.form-control:focus,
.form-select:focus {
    outline: none !important;
    box-shadow: 0 0 0 0.2em rgba(231, 81, 90, .7) !important;
    background: #1b2e4b !important;
}

.form-check-input:checked {
    background-color: $color-red !important;
    border-color: $color-red !important;
}

.btn {
    border-radius: 6px !important;
    padding: 1rem .75rem !important;
    font-size: 1.125rem !important;
    border: none;
}

.btn-primary {
    background: $color-red !important;
    color: #060818 !important;
}

.btn-primary:focus {
    box-shadow: none !important;
}